<h3><%= "更改[#{@product.chinese_name}]的售出系数" %></h3>
<%= form_tag "/supply/products/change_sale_ratio?id=#{@product.id}", method: :post do %>
    <span>系数</span><%= text_field_tag 'sale_ratio', params[:sale_ratio]||@product.sale_ratio, class: 'sx-display-inline sx-width-auto'  %>
    <%= submit_tag '保存', class: 'button primary' %>
<% end %>