<h3>进行中的任务</h3>
<% DelayedJob.all.each_with_index do |delayed_job, index| %>
  <p><span style="font-size: 20px;"><%= "任务#{index+1}" %></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><%= if delayed_job.run_at.present? then "开始于#{delayed_job.run_at}" else '在等待...' end %></span>
<% end %>
<h3>可下载文件列表</h3>
<table class="table">
  <thead><th>文件名</th><th>操作</th></thead>
<% @files.each do |file| %>
      <tr>
        <td width="80%">
        <label><%= file.gsub("public/downloads/", "").split("/")[1] %></label>
        </td>
        <td>
        <%= link_to '下载', "/supply/downloads/download?file=#{file}" %>
        </td>
    </div>
      </tr>
<% end %>
</table>
<script language="javascript">
  function download_file(file){
      $.ajax({
          url: '/supply/downloads/download',
          type: 'post',
          data: {
              "file": file
          },
          dataType: "file"
      })
  }
</script>
