<h3>可下载文件列表</h3>
<table class="table">
  <thead><th>文件名</th><th>操作</th></thead>
<% @files.each do |file| %>
      <tr>
        <td width="80%">
        <label><%= file.gsub("public/downloads/", "").split("/")[1] %></label>
        </td>
        <td>
        <%= link_to '下载', "/supply/downloads/download?file=#{file}" %>
        </td>
    </div>
      </tr>
<% end %>
</table>
<script language="javascript">
  function download_file(file){
      $.ajax({
          url: '/supply/downloads/download',
          type: 'post',
          data: {
              "file": file
          },
          dataType: "file"
      })
  }
</script>