<div class="cxp_min_width">
<br/>
<%= form_tag do_classify_supply_order_items_path, method: :post do %>
    <div class="row">
      <div class="columns small-2 text-right">
        <span>选择日期</span>
      </div>
      <div class="columns small-2">
        <%= date_field_tag 'specified_date', @specified_date rescue '' %>
      </div>
      <div class="columns small-2 text-left end">
        <%= submit_tag '开始出分菜单', class: 'button primary' %>
      </div>
    </div>
<% end %>
</div>