<div style="position: fixed; bottom: 0;right:0;left:0;text-align: center;width: 100%;">
  <label style="text-align: center;">©<%= Time.now.year %> 591库存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备15001722号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
</div>