<div class="sx-global-topbar">
  <div class="y-topbar-row" style="position: static; opacity: 1;">
    <div class="aliyun-login">
      <a class="lnk-login-pre" onlcick="return false;" href="#nogo">欢迎来访，</a>
      <% if user_signed_in? %>
          <%= current_user.user_name %>
          <a id="lnk_login" class="lnk-login" target="_self" rel="nofollow" data-method="delete" href="/users/sign_out">
            <span>退出</span>
          </a>
          <span class="li-spacing"></span>
      <% else %>
          <a id="lnk_login" class="lnk-login" target="_self" href="<%= new_user_session_path %>">
            <span>请登录</span>
          </a>
          <span class="li-spacing"></span>
      <% end %>
      <a id="lnk_login" class="lnk-login" target="_self" href="<%= "#" %>">
        <span></span>
      </a>
      <span class="li-spacing"></span>
      <a id="lnk_login" class="lnk-login" target="_self" href="<%= "/vis/static_pages/welcome" %>">
        <span>主页</span>
      </a>
      <span class="li-spacing"></span>
    </div>
  </div>
</div>
